@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: scroll;
  background: #f2f3f4;
    font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Do not delete as map will not display */
.leaflet-container{
  align-items: center;
  justify-content: center;
  width: auto;
  height: 400px;
}  
